*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.Front{
    background-image: url(/AXEGYM/Images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar{
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}
.navbar-items{
    display: flex;
    gap: 50px;
    margin-right: 60px;
    font-size: 15px;
    padding: 15px;
    font-weight: 500;
}
.navbar-items a{
    color: white;
    text-decoration:none;
    padding: 5px;
}   
.nav-item-active a {
    border-bottom: 3px solid rgb(255, 58, 105);
    border-radius: 3px;
}
.navbar-items a:hover{
    border-bottom: 3px solid  rgb(255, 58, 105);
    border-radius: 3px;
}


.Intro-Section{
    text-align: center;
    margin: 100px auto;
    color: white;
    height: 100vh;
}

.intro-header{
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
}
.intro-text{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    width: 800px;
    margin: auto;
    text-transform: capitalize;
}
.intro-button button{
    background-color: rgba(255, 58, 104, 0);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 1px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}



.Trainers-section{

    background-image: url(/AXEGYM/Images/trainer-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    color: white;
    font-weight: 700;
}
.Trainers-section .heading ::after{
    content: "";
    display: block;
    height: 6px;
    background-color: rgb(255, 58, 105);
    width: 100px;
    margin: 1px auto;
}


.Trainers-section .description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}
.t-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 26%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}
.t-card img{
    width: 90%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 8px 10px 13px rgba(0, 0, 0, 0.5);
}





.why-section{
    background-image: url(/AXEGYM/Images/us-bg.jpg);
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    justify-content: space-around;    
    height: 90vh;
    align-items: center;
}

.why-section .heading{
    text-align: center;
    color: white;
    display: inline-block;
    margin-bottom: 5px;
    width: 30%;
    
}
.why-section .heading ::after{
    content: "";
    display: block;
    height: 6px;
    background-color: rgb(255, 58, 105);
}

.why-section .Row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    padding: 20px;
}
.why-section .card{
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    height: 100%;
}
.card img{
    height: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card h5{
    font-weight: 700;
    margin-bottom: 10px;
}
.card p{
    font-size: 16px;
    font-weight: 500;
}




.Healthy{
    background-image: url(/AXEGYM/Images/healthy-bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    align-items: center;    
    height: 500px;
}
.Healthy .head{
    margin-top: -200px;
    text-align: center;
    color: white;
    width: 500px;
    display: inline-block;
    margin-bottom: 50px;
}
.Healthy .tx{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    width: fit-content;
    text-transform: capitalize;
    color: white;
}







.Contact-section{
    background-image: url(/AXEGYM/Images/us-bg.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;    
    padding-top: 50px;
    height: 650px;
    width: 100%;
    z-index: 0;
    position: relative;
}

.Contact-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    z-index: 1;
}

.Contact-section .heading{
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    margin: 50px 60px;
    color: white;
    text-transform:uppercase;
    z-index: 2;
}
.Contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    margin: 50px 200px;
    color: white;
    z-index: 2;
}

.Contact-form input{
    width: 400px;
    padding: 10px;
    margin: 10px 0px;
    font-size: 17px;
    font-weight: 600;
    background-color: #2e2e2e00;
    border: none;
    border-bottom: 1px solid rgba(223, 222, 222, 0.582);   
    color: white;
    outline: none;
    z-index: 2;
}
.message-send{
    margin-top: 50px;
}

.message-button{
    margin-left: 195px;
}

.message-button button{
    background-color: rgba(255, 58, 104, 0);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.imag{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.imag img{
    width:  180px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
    margin: 5px;
    image-resolution: from-image;
    z-index: 2;
}
.imag img:hover{
    transform: scale(1.7);
    z-index: 1000;    
    transition: all 0.3s ease-in-out;
}

.Contact-section span{
    border-bottom: px solid  rgb(255, 58, 105);
}



.carousel {
    background-image: url(/AXEGYM/Images/healthy-bg.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

.carousel-inner {
    /* background-color: rgba(0, 0, 0, 0.3); */
    width: 100%;
    text-align: center;
    height: 100%;
    
}

.carousel-item {
    padding: 50px;
    height: 100%;
    text-align: center;
}
.carousel-inner img {    
    width: 70%;
    box-shadow: 10px 20px 12px rgba(0, 0, 0, 0.5);
    height: 100%;
    border-radius: 10px;
}

.carousel-item img:hover{
    transform: scale(1.1);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

